<div class="container">
  <div class="main-card" id="grand">
    <div class="header">
      <h2>Configurez votre type de chambre</h2>
      <br />
    </div>
    <div class="container">
      <form>
        <div style="display: grid">
          <label for="hebergement">Nom de l'hébergement</label>
          <select [(ngModel)]="selectedOption" style="width: 50%; height: 150%">
            <option *ngFor="let option of options" [value]="option.value">
              {{ option.viewValue }}
            </option>
          </select>
        </div>

        <div style="margin-top: 5%">
          <p>
            Combien d'hébergements de ce type (hébergement) <br />
            possédez-vous?
          </p>
          <input
            type="number"
            name="number"
            id="inputNumber"
            placeholder="0"
            style="width: 10%; margin-bottom: 20px; height: 150%"
          />
        </div>
        <mat-divider style="margin-bottom: 20px"></mat-divider>
        <mat-label>Quels lits sont disponibles dans cette catégorie ?</mat-label
        ><br /><br />
        <div
          *ngFor="let lit of lits; let i = index"
          class="example-card"
          appearance="outlined"
        >
          <div style="display: flex; justify-content: space-between">
            <div>
              <div>
                <div class="lit-info">
                  <img
                    mat-card-sm-image
                    src="assets/img/lit.png"
                    class="lit-image"
                  />
                  <span class="lit-details"
                    >{{ lit.name }} <br />
                    {{ lit.size }}</span
                  >
                </div>
              </div>
            </div>
            <div class="quantity-container">
              <div class="quantity">
                <button
                  type="button"
                  (click)="quantity('min', i)"
                  class="btn btn-black"
                  [disabled]="productQuantities[i] <= 1"
                >
                  <strong>-</strong>
                </button>
                <input
                  class="inputbox"
                  type="text"
                  [value]="productQuantities[i]"
                  id=""
                  disabled
                />
                <button
                  type="button"
                  (click)="quantity('max', i)"
                  class="btn btn-blue"
                >
                  <strong>+</strong>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div style="margin: 40px">
          <p>
            Combien de personnes peuvent séjourner dans cette catégorie
            hébergement ?
          </p>
          <div class="quantity-container" style="width: 140px">
            <div class="quantity">
              <button
                type="button"
                (click)="quantity1('min')"
                class="btn btn-black"
                [disabled]="productquantity <= 1"
              >
                <strong>-</strong>
              </button>
              <input
                class="inputbox"
                type="text"
                disabled
                [value]="productquantity"
                id=""
              />
              <button
                type="button"
                (click)="quantity1('max')"
                class="btn btn-blue"
              >
                <strong>+</strong>
              </button>
            </div>
          </div>
        </div>

        <div style="margin: 40px">
          <p>Quelle est la superficie de cet hébergement ?</p>
          <div style="display: flex; gap: 5px">
            <input
              type="number"
              name=""
              id="inputNumber"
              placeholder="0"
              style="height: 25px"
            />
            <select id="fruits" name="fruits" style="height: 25px">
              <option value="apple">mètres carrés</option>
              <option value="banana">pieds carrés</option>
            </select>
          </div>
        </div>

        <div style="margin: 40px">
          <p>Est-il possible de fumer dans cet hébergement ?</p>
          <div>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Oui</mat-radio-button>
              <mat-radio-button value="2">Non</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Deuxième carte qui est superposée au-dessus de la troisième -->
  <div class="sub-card">
    <div id="haut">
      <div
        style="display: flex; align-items: center; gap: 10px; padding-left: 3%"
      >
        <span class="material-symbols-outlined"> light_mode </span>
        <h3>Proposez-vous d'autres couchages?</h3>
      </div>
      <div style="padding: 0 15%">
        <div style="padding-top: 10%">
          <ul>
            <li>
              Pour le moment, vous devez juste ajouter vos couchages standard.
            </li>
            <li>
              Les lits bébé, les lits d'appoint et les autres couchages peuvent
              être ajoutés dans l'extranet, la plateforme que vous utiliserez
              pour gérer votre hébergement.
            </li>
          </ul>
        </div>
        <div style="padding-top: 10%">
          <h3>
            Votre hébergement dispose-t-il de conditions spécifiques relatives
            aux enfants ?
          </h3>
        </div>
        <div style="padding-top: 10%">
          <ul>
            <li>
              Vous pourrez configurer des conditions relatives aux enfants, y
              compris ajuster les tarifs et l'âge maximum correspondant, dans
              l'extranet, une fois votre inscription terminée.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
