<div class="container">
  <div class="main-card" id="grand">
    <div class="header">
      <h2>Configurez votre type de chambre</h2>
      <br />
    </div>
    <div class="container">
      <form [formGroup]="form">
        <h2>Type de chambre</h2>
        <section>
          <h3 class="label-first">Nom de l'hébergement</h3>
          <div class="form-section">
            <select formControlName="hebergement">
              <option *ngFor="let option of options" [value]="option.value">
                {{ option.viewValue }}
              </option>
            </select>
            <div
              *ngIf="
                form.controls['hebergement']?.touched &&
                form.controls['hebergement']?.invalid
              "
              style="color: red"
            >
              Ce champ est obligatoire.
            </div>
          </div>
        </section>

        <section>
          <h3 class="label-first">
            Combien d'hébergements de ce type possédez-vous ?
          </h3>
          <div class="form-section">
            <input
              type="number"
              formControlName="numberHebergements"
              placeholder="0"
              min="1"
            />
            <div
              *ngIf="
                form.controls['numberHebergements']?.touched &&
                form.controls['numberHebergements']?.invalid
              "
              style="color: red"
            >
              Ce champ est obligatoire et doit être supérieur ou égal à 1.
            </div>
          </div>
        </section>

        <section>
          <h3 class="label-first">
            Quels lits sont disponibles dans cette catégorie ?
          </h3>
          <div *ngFor="let lit of lits; let i = index" class="example-card">
            <div class="lit-container">
              <div class="lit-info">
                <img
                  src="assets/img/lit.png"
                  class="lit-image"
                  alt="Icône de lit"
                />
                <span class="lit-details">
                  {{ lit.name }} <br />
                  {{ lit.size }}
                </span>
              </div>
              <div class="quantity-container">
                <div class="quantity">
                  <button
                    type="button"
                    (click)="decrementQuantity(i)"
                    class="btn btn-black"
                    [disabled]="litsQuantitiesArray.at(i).value <= 0"
                  >
                    <strong>-</strong>
                  </button>
                  <input
                    class="inputbox"
                    type="text"
                    [value]="litsQuantitiesArray.at(i).value"
                    disabled
                  />
                  <button
                    type="button"
                    (click)="incrementQuantity(i)"
                    class="btn btn-blue"
                  >
                    <strong>+</strong>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="litsQuantitiesArray.touched && litsQuantitiesArray.invalid"
            style="color: red"
          >
            Au moins un lit doit être sélectionné.
          </div>
        </section>

        <section>
          <h3 class="label-first">
            Combien de personnes peuvent séjourner dans cette catégorie ?
          </h3>
          <div class="quantity-container quantity-container-personnes">
            <div class="quantity">
              <button
                type="button"
                (click)="decrementPersonnes()"
                class="btn btn-black"
                [disabled]="form.get('personnes')?.value <= 1"
              >
                <strong>-</strong>
              </button>
              <input
                class="inputbox"
                type="text"
                [value]="form.get('personnes')?.value || 0"
                disabled
              />
              <button
                type="button"
                (click)="incrementPersonnes()"
                class="btn btn-blue"
              >
                <strong>+</strong>
              </button>
            </div>
            <div
              *ngIf="
                form.controls['personnes']?.touched &&
                form.controls['personnes']?.invalid
              "
              style="color: red"
            >
              Ce champ est obligatoire et doit être supérieur ou égal à 1.
            </div>
          </div>
        </section>

        <section>
          <h3 class="label-first">
            Quelle est la superficie de cet hébergement ?
          </h3>
          <div class="form-section superficie-group">
            <input
              type="number"
              formControlName="superficie"
              placeholder="0"
              min="1"
            />
            <select formControlName="measureUnit">
              <option *ngFor="let unit of measureUnits" [value]="unit">
                {{ unit }}
              </option>
            </select>
            <div
              *ngIf="
                form.controls['superficie']?.touched &&
                form.controls['superficie']?.invalid
              "
              style="color: red"
            >
              Ce champ est obligatoire et doit être supérieur ou égal à 1.
            </div>
            <div
              *ngIf="
                form.controls['measureUnit']?.touched &&
                form.controls['measureUnit']?.invalid
              "
              style="color: red"
            >
              L'unité de mesure est obligatoire.
            </div>
          </div>
        </section>

        <section>
          <h3 class="label-first">
            Est-il possible de fumer dans cet hébergement ?
          </h3>
          <mat-radio-group
            formControlName="smokingAllowed"
            aria-label="Fumer autorisé"
          >
            <mat-radio-button value="Oui">Oui</mat-radio-button>
            <mat-radio-button value="Non">Non</mat-radio-button>
          </mat-radio-group>
          <div
            *ngIf="
              form.controls['smokingAllowed']?.touched &&
              form.controls['smokingAllowed']?.invalid
            "
            style="color: red"
          >
            Ce champ est obligatoire.
          </div>
        </section>
      </form>
    </div>
  </div>

  <!-- Deuxième carte qui est superposée au-dessus de la troisième -->
  <div class="sub-card">
    <div id="haut">
      <div
        style="display: flex; align-items: center; gap: 10px; padding-left: 3%"
      >
        <span class="material-symbols-outlined"> light_mode </span>
        <h3>Proposez-vous d'autres couchages?</h3>
      </div>
      <div style="padding: 0 15%">
        <div style="padding-top: 10%">
          <ul>
            <li>
              Pour le moment, vous devez juste ajouter vos couchages standard.
            </li>
            <li>
              Les lits bébé, les lits d'appoint et les autres couchages peuvent
              être ajoutés dans l'extranet, la plateforme que vous utiliserez
              pour gérer votre hébergement.
            </li>
          </ul>
        </div>
        <div style="padding-top: 10%">
          <h3>
            Votre hébergement dispose-t-il de conditions spécifiques relatives
            aux enfants ?
          </h3>
        </div>
        <div style="padding-top: 10%">
          <ul>
            <li>
              Vous pourrez configurer des conditions relatives aux enfants, y
              compris ajuster les tarifs et l'âge maximum correspondant, dans
              l'extranet, une fois votre inscription terminée.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
