<div class="container">
  <div class="main-card" id="grand">
    <div style="display: grid; gap: 30px; margin-bottom: 20px">
      <h2>Inscrivez votre etablissement</h2>
      <p>Informations personnelles de la partie contractante</p>
      <p>
        Veuillez téléverser une photo recto verso de votre pièce d'identité,
        ainsi qu'une photo de vous la tenant en main, avec votre visage
        clairement visible.
      </p>
    </div>
    <div>
      <form class="example-form">
        <div
          class="ma-div"
          (drop)="onDrop($event)"
          (dragover)="onDragOver($event)"
        >
          <img id="preview" src="assets/img/photo.png" alt="Aperçu" />
          <p style="margin: 10px 0">Faire glisser ou</p>
          <input
            type="file"
            id="fileInput"
            (change)="onFileSelected($event)"
            accept="image/*"
            hidden
          />
          <button
            class="button"
            mat-raised-button
            color="primary"
            (click)="onUploadClick()"
          >
            <span class="material-symbols-outlined"> add_a_photo </span>
            Télécharger les photos
          </button>
          <i
            ><p style="font-weight: 400; margin: 20px 0">
              pgj/Jpeg ou png 47 MB maximun par fichier.
            </p></i
          >
        </div>
        <hr />
        <div style="display: grid; gap: 30px">
          <h3>Vous y êtes presque!</h3>
          <P style="font-weight: 500">
            Une fois votre inscription terminée, vous pourrez:
          </P>
        </div>
        <div style="margin: 20px 0">
          <div class="card-item">
            <img src="assets/img/user3.png" alt="coche" />
            <p>Gérer votre hébergement à partir de votre tableau de bord</p>
          </div>

          <div class="card-item">
            <img src="assets/img/user2.png" alt="eux" />
            <p class="joue">
              Recevoir des réservations des clients utilisant notre application
              et gagner de l'argent à distance
            </p>
          </div>

          <div class="card-item">
            <img src="assets/img/user1.png" alt="calandar" />
            <p class="joue">
              Garder le contrôle de toutes vos réservations en ligne sur notre
              application
            </p>
          </div>
        </div>

        <hr />
        <div>
          <input
            type="checkbox"
            id="vehicle1"
            name="vehicle1"
            style="margin-right: 10px"
            value="Bike"
          />
          <label for="vehicle1">
            Je certifie que l'activité d'hébergement est légale et détient
            toutes les autorisations requises, pouvant être présentées sur
            demande. Mbolo.com B.V. se réserve le droit de vérifier toutes les
            informations fournies lors de cette inscription.</label
          ><br />
          <input
            type="checkbox"
            id="vehicle2"
            name="vehicle2"
            style="margin: 30px 10px 0 0"
            value="Car"
          />
          <label for="vehicle2">
            J'ai lu et j'accepte les
            <a href="">Conditions Génerales de Prestation</a></label
          ><br />
        </div>
      </form>
    </div>
  </div>
</div>
