<form>
  <div class="container">
    <div class="main-card" id="grand">
      <div class="header">
        <h2>Politque du site</h2>
      </div>
      <div>
        <div class="example-radio-group">
          <h3 class="title-h3">Politique d'annulation</h3>
          <input
            type="radio"
            class="example-radio-button"
            [(ngModel)]="breakfastServed"
            name="breakfastServed"
            value="remboursable"
          />
          <label for="remboursable">Remboursable</label>

          <div *ngIf="breakfastServed === 'remboursable'">
            <p class="example-input-label">
              Ecrivez une condition du remboursement
            </p>
            <br />
            <input
              type="text"
              id="remboursable-condition"
              [(ngModel)]="refundCondition"
              name="refundCondition"
              class="example-input"
            />
          </div>
          <br />
          <input
            type="radio"
            class="example-radio-button"
            [(ngModel)]="breakfastServed"
            name="breakfastServed"
            value="non_remboursable"
            id="non_remboursable"
          />
          <label for="non_remboursable">Non remboursable</label><br />
        </div>

        <div class="example-radio-group">
          <h3>Selectionnez les cases de votre choix</h3>
          <p>Vous pouvez sélectionner plusieurs réponses.</p>
        </div>

        <div *ngFor="let option of options">
          <input
            type="checkbox"
            [value]="option"
            [checked]="selectedOptions.includes(option)"
            (change)="onSelect(option, $event)"
            id="{{ option }}"
            class="example-checkbox"
          />
          <label for="{{ option }}">{{ option }}</label>
        </div>

        <!-- <p>Options sélectionnées : {{ selectedOptions.join(", ") }}</p> -->
      </div>
    </div>
  </div>
</form>
