<div class="container">
  <div class="main-card" id="grand">
    <div>
      <h2>Paiement valable</h2>
    </div>
    <div>
      <form class="form-paiement">
        <h4 style="margin: 20px 0">
          Choisissez un ou plusieurs modes de paiement
        </h4>
        <div *ngFor="let item of items">
          <label class="checkbox-container">
            <input type="checkbox" [(ngModel)]="item.checked" />
            {{ item.label }}

            <span *ngIf="item.images">
              <img
                *ngFor="let img of item.images"
                [src]="img"
                alt="{{ item.label }}"
                class="image-checkbox"
              />
            </span>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>
