.container {
  display: flex;
  justify-content: center;
  margin: 20px 20px 0px 0;
  background-color: inherit;
  width: 60%;
}

.main-card {
  padding: 20px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 5px;
  flex: 1 50%;
  background-color: white;
}

.checkbox-container {
  display: flex;
  gap: 10px;
}

.image-checkbox {
  width: 40px;
  height: 20px;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 90%;
    margin: 10px;
  }
}
