.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: initial;
  padding: 20px 0 10px 0;
  width: 100%;
  border-radius: 10px;
}

.main-card {
  flex: 1 1 550px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.example-radio-group-label {
  margin: 10px 0;
}

.sub-card {
  flex: 1 320px;
}

mat-card-title {
  margin-bottom: 20px;
  font-weight: 500;
}

#haut {
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  height: auto;
  width: auto;
  border: 1px solid rgb(234, 234, 234);
}

.form-section {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

.time-selector {
  display: flex;
  gap: 20px;
  align-items: center;
}

.time-selector input[type="time"] {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 45%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.custom-icon {
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 90%;
    margin: 10px;
  }
}
