<form [formGroup]="form">
  <div class="container">
    <div class="main-card" id="grand">
      <h2>Politique de l'établissement</h2>
      <section>
        <label class="title-label">Politique d'annulation</label><br />
        <div class="radio-group">
          <label>
            <input type="radio" formControlName="cancellationPolicy" value="Oui" />
            Remboursable
          </label><br />
          <label>
            <input type="radio" formControlName="cancellationPolicy" value="Non" />
            Non remboursable
          </label><br />
          <div
            *ngIf="
              form.controls['cancellationPolicy'].touched &&
              form.controls['cancellationPolicy'].invalid
            "
            style="color: red"
          >
            Ce champ est obligatoire.
          </div>
        </div>

        <div *ngIf="form.value.cancellationPolicy === 'Oui'">
          <label class="title-label">Écrivez une condition de remboursement</label>
          <div class="form-section">
            <input
              type="text"
              formControlName="cancellationCondition"
              placeholder="..."
              maxlength="256"
            />
            <div class="hint">{{ form.value.cancellationCondition?.length || 0 }} / 256</div>
            <div
              *ngIf="
                form.controls['cancellationCondition'].touched &&
                form.controls['cancellationCondition'].invalid
              "
              style="color: red"
            >
              Ce champ est obligatoire.
            </div>
          </div>
        </div>
      </section>

      <hr />

      <section>
        <p class="title-label">Quels sont vos horaires d'arrivée et de départ ?</p>
        <div class="form-section">
          <p>Arrivée</p>
          <div class="time-selector">
            <label for="arrival-start">De :</label>
            <input
              type="time"
              id="arrival-start"
              formControlName="arrivalStart"
              [min]="minArrivalTime"
              [max]="maxArrivalTime"
              placeholder="Ex: 08:00"
            />
            <div
              *ngIf="
                form.controls['arrivalStart'].touched &&
                form.controls['arrivalStart'].invalid
              "
              style="color: red"
            >
              Ce champ est obligatoire.
            </div>
            <label for="arrival-end">À :</label>
            <input
              type="time"
              id="arrival-end"
              formControlName="arrivalEnd"
              [min]="minArrivalTime"
              [max]="maxArrivalTime"
              placeholder="Ex: 11:30"
            />
            <div
              *ngIf="
                form.controls['arrivalEnd'].touched &&
                form.controls['arrivalEnd'].invalid
              "
              style="color: red"
            >
              Ce champ est obligatoire.
            </div>
          </div>
        </div>

        <div class="form-section">
          <p>Départ</p>
          <div class="time-selector">
            <label for="departure-start">De :</label>
            <input
              type="time"
              id="departure-start"
              formControlName="departureStart"
              [min]="minDepartureTime"
              [max]="maxDepartureTime"
              placeholder="Ex: 19:00"
            />
            <div
              *ngIf="
                form.controls['departureStart'].touched &&
                form.controls['departureStart'].invalid
              "
              style="color: red"
            >
              Ce champ est obligatoire.
            </div>
            <label for="departure-end">À :</label>
            <input
              type="time"
              id="departure-end"
              formControlName="departureEnd"
              [min]="minDepartureTime"
              [max]="maxDepartureTime"
              placeholder="Ex: 22:30"
            />
            <div
              *ngIf="
                form.controls['departureEnd'].touched &&
                form.controls['departureEnd'].invalid
              "
              style="color: red"
            >
              Ce champ est obligatoire.
            </div>
          </div>
        </div>
      </section>

      <hr />

      <section>
        <label class="title-label">Acceptez-vous les enfants ?</label>
        <div class="radio-group">
          <label>
            <input type="radio" formControlName="childrenAccepted" value="Oui" />
            Oui
          </label><br />
          <label>
            <input type="radio" formControlName="childrenAccepted" value="Non" />
            Non
          </label><br />
          <div
            *ngIf="
              form.controls['childrenAccepted'].touched &&
              form.controls['childrenAccepted'].invalid
            "
            style="color: red"
          >
            Ce champ est obligatoire.
          </div>
        </div>
      </section>

      <section>
        <label class="title-label">Acceptez-vous les animaux domestiques ?</label>
        <div class="radio-group">
          <label>
            <input type="radio" formControlName="petsAccepted" value="Oui" />
            Oui
          </label><br />
          <label>
            <input type="radio" formControlName="petsAccepted" value="Sur demande" />
            Sur demande
          </label><br />
          <label>
            <input type="radio" formControlName="petsAccepted" value="Non" />
            Non
          </label><br />
          <div
            *ngIf="
              form.controls['petsAccepted'].touched &&
              form.controls['petsAccepted'].invalid
            "
            style="color: red"
          >
            Ce champ est obligatoire.
          </div>
        </div>
      </section>
    </div>
  </div>
</form>
