<div class="container">
  <mat-card class="main-card" id="grand">
    <div style="margin: 20px">
      <div style="margin-bottom: 20px">
        <h2>Fixez un tarif par nuit pour cet hébergement</h2>
      </div>
      <form (ngSubmit)="calculerPourcentage()">
        <h4>Combien souhaitez-vous facturer par nuit ?</h4>
        <div style="margin: 20px 0 10px 0">
          <input
            type="number"
            placeholder="CFA |"
            required
            [(ngModel)]="somme"
            name="tarif"
            (ngModelChange)="calculerPourcentage()"
          />
          <select
            [(ngModel)]="monnaie"
            (change)="calculerPourcentage()"
            name="monnaie"
            style="margin-left: 10px"
          >
            <option value="FCFA">F CFA</option>
            <option value="Euro">Euro</option>
            <option value="Dollar">Dollar</option>
          </select>
        </div>
      </form>
      <h4>Taxes, commission et frais compris</h4>
      <p style="margin: 20px 0">00% Commission sur Yori.com</p>
      <p>
        <span class="material-symbols-outlined" style="color: blue">check</span>
        Gagnez du temps grâce à la confirmation automatique des réservations
      </p>
      <p>
        <span class="material-symbols-outlined" style="color: blue">check</span>
        Nous mettons en valeur votre établissement à l'échelle mondiale
      </p>
      <mat-divider style="margin: 20px 0 20px 0"></mat-divider>
      <p>
        Nous percevons une commission de 15 % pour chaque réservation effectuée
        sur l'application. Vous obtiendrez
        <strong>{{ pourcentage | number : "1.0-0" }} {{ monnaie }}</strong> par
        reservation
      </p>
    </div>
  </mat-card>

  <!-- Deuxième carte qui est superposée au-dessus de la troisième -->
  <div class="sub-card">
    <mat-card id="haut">
      <div style="display: flex; gap: 10px">
        <span class="material-symbols-outlined"> light_mode </span>
        <h3>Que faire si je ne suis pas sûr(e) de mon tarif ?</h3>
      </div>
      <div style="margin-left: 20px">
        <ul>
          <li>
            Pas d'inquiétude, vous pourrez le modifier à tout moment. Vous
            pourrez même appliquer des tarifs différents le week-end, en semaine
            ou en fonction de la saison pour garder le contrôle sur vos revenus.
          </li>
        </ul>
      </div>
    </mat-card>
  </div>
</div>
