.container {
  margin: 20px 0 0 0;
  background-color: inherit;
}

.main-card {
  width: 61%;
  padding: 20px;
  border: 1px solid #efefef;
  background-color: white;
  border-radius: 10px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item p {
  display: flex;
  align-items: center;
}

.paragraphe {
  margin-left: 35px;
}

.faq-icon {
  margin-right: 15px;
  width: 24px;
  height: auto;
}

.title {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
    width: 95%;
  }

  .main-card {
    width: auto;
  }
}
