<form (ngSubmit)="onSubmit()" #tarifForm="ngForm" novalidate>
  <ng-container>
    <div class="container">
      <div class="main-card" id="grand">
        <div class="card-content">
          <div class="card-header">
            <h1>Tarif</h1>
            <p>Fixer un prix par catégorie</p>
            <p>Choissisez une monnaie</p>
          </div>
          <div>
            <select
              [(ngModel)]="monnaie"
              (change)="calculerPourcentage()"
              name="monnaie"
              style="width: 100px; height: 30px"
            >
              <option value="FCFA">F CFA</option>
              <option value="Euro">Euro</option>
              <option value="Dollar">Dollar</option>
            </select>
          </div>
        </div>
        <h3 style="margin-bottom: 10px">Selectionnez les differents champs</h3>
        <div *ngFor="let cat of categories" class="checkbox-block">
          <input
            type="checkbox"
            [id]="cat.key"
            [name]="cat.key"
            [(ngModel)]="cat.checked"
            (change)="onCheckboxChange(cat.key)"
          />
          <label [for]="cat.key">{{ cat.label }}</label>

          <div class="inline-container" *ngIf="cat.checked">
            <div *ngIf="cat.hasAgeRange">
              <label>Tranche d'âge</label><br />
              <select [(ngModel)]="cat.ageSelected" [name]="cat.key + '-age'">
                <option value="" disabled selected>
                  Selectionnez une tranche d'âge
                </option>
                <option *ngFor="let age of cat.ageRanges" [value]="age">
                  {{ age }}
                </option>
              </select>
            </div>

            <div class="tarif-block">
              <label class="label-block">Fixez un tarif</label>
              <div class="input-and-percentage">
                <input
                  type="number"
                  [name]="cat.key + '-amount'"
                  [(ngModel)]="cat.amount"
                  (input)="calculatePercentage(cat.key)"
                  min="0"
                  class="input"
                />
                <p class="montant">
                  Vous obtiendrez {{ cat.percentage | number : "1.0-0" }}
                  {{ monnaie }} par réservation
                </p>
              </div>
            </div>

            <!-- Bloc spécifique pour handicape -->
            <div *ngIf="cat.key === 'handicape'">
              <div style="margin: 10px 0; font-weight: 500">
                <label>Disponibilité :</label>
              </div>
              <div style="display: flex; flex-direction: column">
                <label>
                  <input
                    type="radio"
                    [name]="cat.key + '-handicapType'"
                    value="Aucune_chaise_a_disposition"
                    [(ngModel)]="cat.handicapType"
                  />
                  Aucune chaise à disposition
                </label>
                <label>
                  <input
                    type="radio"
                    [name]="cat.key + '-handicapType'"
                    value="Chaise_roulante_a_disposition"
                    [(ngModel)]="cat.handicapType"
                  />
                  Chaise roulante à disposition
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-card-container">
        <div class="sub-card" id="haut">
          <div class="card-header2">
            <span class="material-symbols-outlined"> light_mode </span>
            <p>Combien souhaitez-vous facturer par reservation?</p>
          </div>
          <div class="card-content">
            <p>00% Commission sur Yori.com</p>
            <div class="inline-cont">
              <div class="inline">
                <span class="material-symbols-outlined icons">
                  check_small
                </span>
                <p>
                  Gagnez du temps grâce à la confirmation automatique des
                  réservations
                </p>
              </div>
              <div class="inline">
                <span class="material-symbols-outlined icons">
                  check_small
                </span>
                <p>
                  mettons en valeur votre établissement à l'échelle mondiale
                </p>
              </div>
            </div>
            <hr />
            <p>
              Nous percevons une commission de 15 % pour chaque réservation
              effectuée sur l'application.
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- <button type="submit" [disabled]="tarifForm.invalid">Valider</button> -->
</form>
