<div class="container">
  <div class="main-card">
<form [formGroup]="form">
  <div class="form">
    <h2 class="titre">
      Quels équipements proposez-vous dans votre établissement?
    </h2>

    <div style="width: 100%; display: flex; justify-content: center">
      <input
        matInput
        formControlName="searchTerm"
        (input)="filterList()"
        placeholder="Tapez pour filtrer..."
        class="search-input"
      />
    </div>

    <mat-selection-list formControlName="selectedShoes" multiple>
      <mat-list-option *ngFor="let shoe of filteredShoes" [value]="shoe">
        {{ shoe }}
      </mat-list-option>
      <mat-list-option *ngIf="filteredShoes.length === 0" disabled>
        Aucun résultat trouvé
      </mat-list-option>
    </mat-selection-list>

    <div *ngIf="form.controls['selectedShoes'].invalid && form.controls['selectedShoes'].touched" style="color:red">
      Veuillez sélectionner au moins un équipement.
    </div>

    <p class="para">
      Options sélectionnées: {{ form.controls['selectedShoes'].value?.length || 0 }}
    </p>
  </div>
</form>


  </div>

  <div class="sub-card">
    <div class="haut">
      <p>
        <span class="material-symbols-outlined"> light_mode </span>
        <span class="span-text"
          >Que faire si l'un des équipements que je propose n'est pas dans la
          liste?</span
        >
      </p>
      <!-- </mat-card-header> -->
      <div>
        <ul class="list">
          <li>
            Les équipements listés ici sont ceux que les clients recherchent le
            plus. Une fois votre inscription terminée, vous pourrez en ajouter
            d'autres depuis une liste plus détaillée disponible dans votre
            extranet, la plateforme que vous utiliserez pour gérer votre
            hébergement.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
