<div class="container">
  <div class="top-bar">
    <div class="logo">
      <img src="assets/img/logo_bleu.png" alt="Logo" height="70" width="100" />
    </div>
    <div class="dropdown">
      <button class="dropdown-button">
        <div class="initial-circle">
          {{ userName.charAt(0) }}
        </div>
        <div>
          {{ userName }} <br>
          Mes informations
        </div>
      </button>
      <div class="dropdown-menu">
        <a [routerLink]="['/list-etablissements']"><mat-icon>person</mat-icon>  Mes établisesements</a>
        <a href="#" (click)="logout()"><mat-icon>power_settings_new</mat-icon> Déconnexion</a>
      </div>
    </div>    
  </div>
</div>