<form [formGroup]="form">
  <div class="container">
    <div class="main-card" id="grand">
      <div class="title">
        <h2>Quelles langues parlez-vous <br />(vous ou votre personnel) ?</h2>
      </div>
      <section>
        <div class="checkbox-group">
          <div *ngFor="let langue of languagedOptions; let i = index">
            <label class="checkbox-label"> 
              <input
                type="checkbox"
                [formControl]="getLanguageControl(i)"
                class="checkbox-input"
              />
              {{ langue }}
            </label>
          </div>
          <div
            *ngIf="
              languagedOptionsArray.touched &&
              getSelectedLanguages().length === 0
            "
            style="color: red"
          >
            Au moins une langue doit être sélectionnée.
          </div>
        </div>
      </section>
    </div>
  </div>
</form>
