<div class="container">
  <div class="main-card" id="grand">
    <div class="title">
      <h2>À quoi ressemble votre établissement ?</h2>
    </div>
    <div class="paragraph-top">
      <p>
        <span style="font-weight: bold"
          >Téléchargez au moins 6 photos de votre établissement.</span
        >
        Plus vous téléchargez de photos, plus vous augmentez vos chances de
        recevoir des réservations. Vous pouvez aussi en ajouter plus tard.
      </p>
    </div>
    <div class="ma-div" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
      <img id="preview" src="assets/img/photo.png" alt="Aperçu" />
      <p>Faire glisser ou</p>
      <input
        type="file"
        id="fileInput"
        (change)="onFileSelected($event)"
        accept="image/*"
        hidden
      />
      <button
        class="button"
        mat-raised-button
        color="primary"
        (click)="onUploadClick()"
      >
        <span class="material-symbols-outlined"> photo_camera </span>
        <p>Télécharger les photos</p>
      </button>
      <i
        ><p class="text-muted">pgj/Jpeg ou png 47 MB maximun par fichier.</p></i
      >
    </div>
    <hr />
    <p class="text-muted">
      Choississez une <b>photo d'acroche</b> qui donnera une excellente
      impression à votre hebergement
    </p>

    <div class="image-list">
      <div *ngFor="let image of images" class="image-frame">
        <button class="delete-button" (click)="removeImage(image)">✖</button>
        <img [src]="image" alt="Image" class="image-preview" />
      </div>
    </div>
  </div>

  <!-- Deuxième carte qui est superposée au-dessus de la troisième -->
  <div class="sub-card">
    <div class="sub-card" id="haut">
      <div class="title2">
        <span class="material-symbols-outlined"> wb_sunny </span>
        <p>Que faire si je ne dispose pas de photos professionnelles ?</p>
      </div>
      <ul>
        <li>
          <p>
            Pas de soucis ! Vous pouvez utiliser un smartphone ou un appareil
            photo numérique, à condition que les photos soient de qualité.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
