.container {
  display: flex;
  flex-direction: column; /* Ou row selon votre besoin */
  margin: 10%;
}

#map {
  width: 30%; /* Utiliser 100% de la largeur disponible */
  height: 200px; /* Définir une hauteur fixe */
  margin: 0 auto; /* Centrer la carte */
  position: relative; /* Positionner par rapport aux autres éléments */
}
