:root {
  --primary-color: #0d0dc5;
  --light-gray: lightgray;
  --withe-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900; /* Active toutes les épaisseurs */
  font-style: normal;
}

/* Appliquer la police au site */
body {
  font-family: "Roboto", sans-serif;
}
