<div class="container">
  <!-- Première carte qui prend 60% de la largeur -->
  <div class="main-card" id="grand">
    <div>
      <h2>Ajoutez les photos représentant cette catégorie</h2>
    </div>
    <div>
      <div style="margin: 20px 0">
        <h4>Téléchargez au max 6 photos pour representer cette categorie</h4>
      </div>
      <div
        class="ma-div"
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
      >
        <img id="preview" src="assets/img/photo.png" alt="Aperçu" />
        <p>Faire glisser ou</p>
        <input
          type="file"
          id="fileInput"
          (change)="onFileSelected($event)"
          accept="image/*"
          hidden
        />
        <button
          class="button"
          mat-raised-button
          color="primary"
          (click)="onUploadClick()"
        >
          <mat-icon>add_a_photo</mat-icon>
          Télécharger les photos
        </button>
        <div style="margin-top: 10px">
          <i><h5>pgj/Jpeg ou png 47 MB maximun par fichier.</h5></i>
        </div>
      </div>

      <div class="image-list">
        <div *ngFor="let image of images" class="image-frame">
          <button class="delete-button" (click)="removeImage(image)">✖</button>
          <img [src]="image" alt="Image" class="image-preview" />
        </div>
      </div>
    </div>
  </div>

  <!-- Deuxième carte qui est superposée au-dessus de la troisième -->
  <div class="sub-card">
    <div class="sub-card" id="haut">
      <div style="display: flex; gap: 10px">
        <span class="material-symbols-outlined"> light_mode </span>
        <h4>Que faire si je ne dispose pas de photos professionnelles ?</h4>
      </div>
      <div style="margin-left: 20px">
        <ul>
          <li>
            Pas de soucis ! Vous pouvez utiliser un smartphone ou un appareil
            photo numérique, à condition que les photos soient de qualité.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
