.home-container {
  width: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Tsections {
  margin: 0 100px;
}

#fin {
  background-color: rgba(242, 240, 240, 0.87);
  border-radius: 10px;
  width: auto;
}

.premier {
  background-color: rgba(13, 13, 197, 0.8);
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.logo-section img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: calc(12px + 0.5vw);
  border-radius: 10px;
  background-color: rgba(254, 254, 254, 0.1);
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #e0e0e0;
  color: #000;
}

/* Section principale */
.custom-section {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff0e;
}

.akg {
  width: 95%;
}

.main-card {
  background-color: transparent;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-shadow: none;
  border: none;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.text-card {
  flex: 1;
  margin: 0;
  padding: 0px;
  width: 45%;
}

.image-card {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  width: 45%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.border-left,
.border-right {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  display: inline-block;
}

.text-card.moa {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.a-link button {
  font-size: 15px;
  background-color: #ffffff;
  color: rgba(13, 13, 197, 0.8);
  font-weight: bold;
  border-radius: 10px;
  height: 40px;
  margin-top: 30px;
  border: 1px solid rgba(13, 13, 197, 0.8);
  cursor: pointer;
  width: 50%;
}

.content-left {
  font-size: 1.5em;
  text-align: left;
}

.content-left2 {
  font-size: 1.2em;
  text-align: left;
}

.content-right {
  font-size: 1.2em;
  text-align: right;
}

.justify {
  height: 250px;
  width: 250px;
  margin-top: -50px;
  margin-left: -15px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.feature {
  padding: 20px;
  margin: 20px 0;
  background-color: #f4f4f4;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
}

.feature h2 {
  margin: 0;
}

@media (max-width: 768px) {
  .hero-section {
    height: auto;
    padding: 10px;
    text-align: center;
  }

  .flex-container {
    flex-direction: column;
    align-items: stretch;
    width: 90%;
  }

  .image-card {
    width: 100%;
  }

  .text-card {
    width: 100%;
  }

  .hero-section h1 {
    font-size: 2em;
    padding-left: 0;
  }

  .logo-section {
    flex-direction: column;
  }

  .button-container {
    flex-direction: column;
    width: 100%;
  }

  .button-container button {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .hero-section {
    padding: 10px;
  }

  .hero-section h1 {
    font-size: 1.5em;
  }

  button {
    width: 100%;
    box-sizing: border-box;
  }

  .text-card h1 {
    font-size: 1.5rem;
  }

  .text-card p {
    font-size: 0.9rem;
  }

  .text-card,
  .image-card {
    width: auto;
    margin-bottom: 10px;
  }
}
