<div *ngIf="currentRoute === '/espace'"> 
    <div class="container">
      <div class="top-bar">
        <div class="logo">
          <a [routerLink]="['/']" class="logo-link">
            <img src="assets/img/logo_bleu.png" alt="Logo" class="logo-image">
          </a>          
        </div>
        <div class="dropdown">
          <button class="dropdown-button">
              <div class="initial-circle">
                  {{ userName.charAt(0) }} <!-- Affiche la première lettre du nom -->
              </div>
              <div>
                <span>{{ userName }}</span><br>
                <span> {{info}} </span>
              </div>
          </button>
          
          <!-- Menu déroulant -->
          <div class="dropdown-menu">
              <a [routerLink]="['/list-etablissements']">liste établissement</a>
              <a href="/page1">Monace</a>
              <a (click)="logout()">Déconnexion</a>
          </div>
        </div>
      </div>

      <header class="header">
        <div class="content-left">
          <div class="content-left-text">
            <h4>
              Optimisez vos revenus en offrant votre hébergement à des voyageurs venant des quatre coins du globe
          </h4>
          <p>
              En publiant En affichant votre hébergement sur notre plateforme en ligne, vous profiterez d'une visibilité renforcée ainsi que d'une gestion simplifiée de vos réservations
          </p>
          </div>
        </div>
        <div class="card">
          <div style="padding-left: 30px; border-bottom: 1px solid rgb(165, 165, 165);" class="fille">
            <h1>Inscrivez-vous gratuitement</h1>
            <div style="display: flex; gap: 5px; margin-top: 20px;">
              <span class="material-symbols-outlined">
              check
              </span>Nous traitons les paiements pour vous.
            </div>
          </div>        
          <div style="display: flex;justify-content: center; border-bottom: 1px solid rgb(165, 165, 165);" class="fille">
            <button class="centered-button" [routerLink]="['/choix-etablissement']">Démarrer maintenant <span class="material-symbols-outlined" style="color: white;">
              arrow_right_alt
              </span></button>
          </div>         
          <div style="padding-left: 30px;" class="fille">
            <h4>Vous avez déjà commencé une inscription ? </h4>
            <a routerLink="/login" class="a-link">continuer l'inscription</a>
          </div>
        </div>
      </header>
  </div>
</div>

  <div *ngIf="currentRoute === '/list-etablissements'">
    <div class="container">
      <div class="top-bar">
        <div class="logo">
          <a [routerLink]="['/']" class="logo-link">
            <img src="assets/img/logo_bleu.png" alt="Logo" class="logo-image">
          </a>
        </div>
          <div>
            <button type="button" [routerLink]="['/espace']" class="jus">
                Ajoutez votre établissement
            </button>
          </div>   
          <div class="dropdown">
            <button class="dropdown-button">
                <div class="initial-circle">
                    {{ userName.charAt(0) }} <!-- Affiche la première lettre du nom -->
                </div>
                <div>
                  <span>{{ userName }}</span><br>
                  <span> {{info}} </span>
                </div>
            </button>
            
            <!-- Menu déroulant -->
            <div class="dropdown-menu">
                <a href="/page1">Page 1</a>
                <a href="/page2">Page 2</a>
                <a (click)="logout()">Déconnexion</a>
            </div>
        </div>
          
      </div>

      <header class="header">
        <div class="content-left">
          <h2>Mes établissements</h2>
          <p>
            L'ensemble de vos établissements apparaîtra ici.
          </p>
        </div>

        <div class="card2">
          <table>
            <thead>
              <p style="padding: 20px;">Liste de tous de mes etablissements inscrits</p>
            </thead>
            <hr>
            <tbody>
              <tr *ngFor="let nom of noms">
                <td>{{ nom }}</td>
                <td>
                  <button class="premier1" (click)="onButtonClick(nom)">Se connecter</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </header>
  </div>
  </div>