<div class="container">
  <form [formGroup]="form" class="form">
    <div class="main-card" id="grand">
      <h2 class="form-title">Information petit déjeuner</h2>
      <div class="form-group">
        <legend>Le petit-déjeuner est-il servi dans votre hébergement ?</legend>
        <div class="radio-group">
          <label>
            <input type="radio" formControlName="breakfastServed" value="Oui" />
            Oui
          </label>
          <label>
            <input type="radio" formControlName="breakfastServed" value="Non" />
            Non
          </label>
        </div>
      </div>

      <div *ngIf="form.value.breakfastServed === 'Oui'">
        <div>
          <legend class="checkbox-legend">
            Le petit-déjeuner est-il inclus dans le tarif payé par les clients?
          </legend>
          <div class="radio-group">
            <label>
              <input
                type="radio"
                formControlName="breakfastIncluded"
                value="Oui, il est inclus."
              />
              Oui, il est inclus.
            </label>
            <label>
              <input
                type="radio"
                formControlName="breakfastIncluded"
                value="Non, il est en supplément."
              />
              Non, il est en supplément.
            </label>
          </div>
        </div>
        <hr />
        <div>
          <legend class="checkbox-legend">
            Quel type de petit-déjeuner proposez-vous? (plusieurs choix
            possibles)
          </legend>
          <div class="checkbox-container">
            <ng-container *ngFor="let type of breakfastTypes; let i = index">
              <label class="checkbox-box">
                <input
                  type="checkbox"
                  [formControl]="getBreakfastTypeControl(i)"
                />
                <span class="checkbox-label-text">{{ type }}</span>
              </label>
              <div *ngIf="lineBreakIndices.includes(i)"></div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
