<div class="container">
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" novalidate>
    <div class="main-card">
      <h2>Horaires d'ouverture</h2>
      <div class="text-top">
        <p>Selectionner les jours ouvrables</p>
        <p>Vous pouvez sélectionner plusieurs carte.</p>
      </div>
      <div class="chip-container">
        <div
          *ngFor="let day of daysOfWeek"
          class="chip"
          [class.selected]="selectedDays.includes(day)"
          (click)="toggleDay(day)"
        >
          {{ day }}
        </div>
      </div>

      <!-- Pour chaque jour sélectionné, afficher horaires d'ouverture/fermeture -->
      <div *ngFor="let day of selectedDays" class="day-hours">
        <h4>{{ day }}</h4>

        <div class="hours-labels">
          <label>Heure d'ouverture :</label>
          <label>Heure de fermeture :</label>
        </div>

        <div class="hours-inputs">
          <input
            class="input-time"
            type="time"
            [value]="hoursByDay[day].opening"
            (input)="updateHour(day, 'opening', $any($event.target).value)"
            name="opening-{{ day }}"
            required
            ngModel
          />
          <input
            class="input-time"
            type="time"
            [value]="hoursByDay[day].closing"
            (input)="updateHour(day, 'closing', $any($event.target).value)"
            name="closing-{{ day }}"
            required
            ngModel
          />
        </div>
      </div>

      <!-- Choix du mode visite -->
      <div class="mode-visite">
        <h3>Durée la de visite</h3>
        <label>
          <input
            type="radio"
            name="modeVisite"
            value="heures"
            [(ngModel)]="breakfastServed"
            required
          />
          Visite par heures
        </label>

        <div *ngIf="breakfastServed === 'heures'">
          <label>Durée de la visite :</label><br />
          <select
            [(ngModel)]="selectedDurationHeures"
            name="selectedDurationHeures"
            required
          >
            <option *ngFor="let type of propertyTypes" [value]="type.value">
              {{ type.label }}
            </option>
          </select>

          <!-- Créneaux horaires PAR JOUR -->
          <div *ngIf="selectedDays.length > 0">
            <h4 style="margin: 20px 0">Créneaux horaires</h4>

            <div *ngFor="let day of selectedDays" class="day-hours">
              <div>
                <p>{{ day }}</p>
                <p style="font-weight: 500">
                  Personnalisez vos créneaux horaires des visites
                </p>
              </div>
              <div class="chip-container2">
                <div
                  *ngFor="let hour of hours"
                  class="chip2"
                  [class.selected]="selectedHoursByDay[day].includes(hour)"
                  (click)="toggleHour(day, hour)"
                >
                  {{ hour }}
                </div>
                <button class="chip2 chip-bouton" type="button">Ajouter</button>
              </div>
            </div>
          </div>
        </div>
        <br />
        <label>
          <input
            type="radio"
            name="modeVisite"
            value="jours"
            [(ngModel)]="breakfastServed"
            required
          />
          Visite par jours
        </label>

        <!-- Affiche le select uniquement si "Visite par jours" est sélectionné -->
        <div *ngIf="breakfastServed === 'jours'" style="margin-top: 10px">
          <label for="duration-jours-select">Choisir une durée</label><br />
          <select
            id="duration-jours-select"
            [(ngModel)]="selectedDurationJours"
            name="selectedDurationJours"
            required
          >
            <option value="" disabled>Sélectionnez une durée</option>
            <option
              *ngFor="let option of durationOptions"
              [value]="option.value"
            >
              {{ option.label }}
            </option>
          </select>
        </div>
      </div>

      <!-- <button type="submit" [disabled]="myForm.invalid">Valider</button> -->
    </div>
  </form>
</div>
